.font-small{
    font-size:17px;
}

.font-medium{
    font-size:22px;
}

.font-large{
    font-size:35px;
}

.text-red{
    color:red;
}

.text-blue{
    color:blue;
}


h1{
    color:purple;
}

.font-larblue{
    font-size:40px;
    color:blue;
}
.box-medium{
    width:1800px;
    height:40px;
}
.box-black{
    background-color:black;
}
.box-aqua{
    background-color:aqua;
}
.box-grey{
    background-color:grey;
}
.box-red{
    background-color:red;
}
.box-royblue{
    background-color:royalblue;
}
.box-chid{
    background-color:darkorchid;
}

.box-square{
    width: 300px;
    height:300px;
     /* float:right;  */
    /* margin:23px;
    padding:10px; */
}
.box-long{
    width:1538px;
    height:20px;
    float:left;
    margin: -10px;
    padding:10px;
}

.box-long2{
    width:1538px;
    height:40px;
    float:left;
    margin: -10px;
    padding:10px;
}
.box-small{
    width:800;
    height:25px;
}
.box-small2{
    width:100;
    height:20px;
    
}